# Kaggle Intro to SQL (and BigQuery)
- https://www.kaggle.com/learn/intro-to-sql

## 3. Group By, Having & Count
- Get more interesting insights directly from your SQL queries

### Introduction

- We can Select raw data (SELECT... FROM... WHERE...)
- We are ready to learn how to group data and count things withing those groups.
- Answers questions like:
    - How many of each kind of fruit has our store sold?
    - How many species fo animal has the vet office treated?
- Three techniques: __GROUP BY, HAVING, and COUNT()__

### COUNT()

``` Python:
query = '''
    SELECT COUNT(ID)
    FROM `bigquery-public-data.pet_records.pets` '''
```
- __Aggregate function:__ takes many values and returns one.
- Other aggregate functons: __SUM(), AVG(), MIN(), and MAX()__.
- Aggregate functs. introduce strange column names (like f0). This names can be changed to something more descriptive.

### GROUP BY

- Takes the name of one or more columns, and treats all rows with the same value in that column as a single group when you apply aggregate functs. like COUNT().
- Ex. how  many of each type of animal we have in the `pets` table:
``` Python:
query = '''
    SELECT Animal, COUNT(ID)
    FROM `bigquery-public-data.pet_records.pets`
    GROUP BY Animal '''
```
- It returns a table with one row for each distinct animal.

### GROUP BY ...HAVING

- __HAVING__ is used in combination with __GROUP BY__ to ignore groups that don't meet certain criteria.
- Ex. to include groups that have more than one ID in them.
``` Python:
query = '''
    SELECT Animal, COUNT(ID)
    FROM `bigquery-public-data.pet_records.pets`
    GROUP BY Animal
    HAVING COUNT(ID) > 1 '''
```

### Example, quering a real dataset
- Which Hacker News comments generated the most dicussion?

- The Hacker News dataset contains information on stories and comments from the Hacker News social networking site.
- 
We'll work with the comments table and begin by printing the first few rows.

In [1]:
### To fetch the dataset (in dataset var)
from google.cloud import bigquery

# Create a 'Client' object: the first step in the workflow to retrieve information
# from google-BigQuery datasets.
client = bigquery.Client('jmproject86385')

# Construct a reference to the 'openaq' dataset contained in
# bigquery-public-data project
dataset_ref = client.dataset('hacker_news', project='bigquery-public-data')

# API request - fetch the dataset (first fetch the dataset, all tables)
dataset = client.get_dataset(dataset_ref)

# List of all the tables in the "hacker_news" dataset
tables = list(client.list_tables(dataset))
print(len(tables))
for tbl in tables:
    print(tbl.table_id)

C:\Users\jm\anaconda3\envs\KglSQL_1\lib\site-packages\google\auth\_default.py:70: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

1
full

In [2]:
# Construct a reference to the 'global_air_quality' table
table_ref = dataset_ref.table('full')

# API request - fetch the table
table = client.get_table(table_ref)

# Preview first 5 lines of the 'global_air_quality' table
#client.list_rows(table).to_dataframe()
client.list_rows(table, max_results=5).to_dataframe()

C:\Users\jm\AppData\Local\Temp\ipykernel_8144\3672421457.py:9: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.
  client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,"I would rather just have wired earbuds, period...",None,zeveb,NaN,1591717736,2020-06-09 15:48:56+00:00,comment,23467666,23456782,NaN,NaN,None
1,None,None,DNS?,None,nly,NaN,1572810465,2019-11-03 19:47:45+00:00,comment,21436112,21435130,NaN,NaN,None
2,None,None,These benchmarks seem pretty good. Filterable...,None,mrkeen,NaN,1591717727,2020-06-09 15:48:47+00:00,comment,23467665,23467426,NaN,NaN,None
3,None,None,Oh really?<p>* Excel alone uses 86.1MB of priv...,None,oceanswave,NaN,1462987532,2016-05-11 17:25:32+00:00,comment,11677248,11676886,NaN,NaN,None
4,None,None,These systems are useless. Of the many flaws:...,None,nyxxie,NaN,1572810473,2019-11-03 19:47:53+00:00,comment,21436113,21435025,NaN,NaN,None

- I don't have the 'comments table and i will use the 'full' table, the only one I have.
- Columns: id, by, author, time, time_ts, parent, deleted, dead, ranking -> 'comments'.
- Columns: id, by, time, timestamp, parent, deleted, dead, ranking -> 'full'.

Let's use the table to see which comments generated the most replies. Since:
- the `parent` column indicates the comment that was replied to, and
- the `id` column has the unique ID used to identify each comment,

we can __GROUP BY__ the parent column and __COUNT()__ the id column in order to figure out the number of comments that were made as responses to a specific comment.

Furthermore, since we're only interested in popular comments, we'll look at comments with more than ten replies. So, we'll only return groups HAVING more than ten ID's.

In [3]:
# Query to select comments that received more than 10 replies
query_popular = '''
    SELECT parent, COUNT(id)
    FROM `bigquery-public-data.hacker_news.full`
    GROUP BY parent
    HAVING COUNT(id) > 10 '''

Now that our query is ready, let's run it and store the results in a pandas DataFrame:

In [4]:
# Set up the query (cancel the query if it would use too much of 
# your quota, with the limit set to 10 GB)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(query_popular, job_config=safe_config)

# API request - run the query, and convert the results to a pandas DataFrame
popular_comments = query_job.to_dataframe()

# Print the first five rows of the DataFrame
popular_comments.head()

       parent  f0_
0   8688416.0   59
1  17208293.0   92
2  30230620.0  327
3  29261733.0   55
4  30232853.0   43


Each row ithe `e popular_commen`ts DataFrame corresponds to a comment that received more than ten replies. For instance, the comme `parent`= 29261733.0 8 received5 6 replies.

### Aliasing and other improvements

- Aliasing: to change the undesciptive f0_ column name of the result add 'AS `new_col_name` after you specify the aggregation.
- If you are ever unsure what to put inside the COUNT() function, you can do COUNT(1) to count the rows in each group. Most people find it especially readable, because we know it's not focusing on other columns. It also scans less data than if supplied column names (making it faster and using less of your data access quota).

In [7]:
### Improved version of earlier query, now with aliasing & improved readability
query_improved = '''
    SELECT parent, COUNT(1) AS num_posts
    FROM `bigquery-public-data.hacker_news.full`
    GROUP BY parent
    HAVING COUNT(1) > 10 '''
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(query_improved, job_config=safe_config)

# API request - run the query, and convert the results to a pandas NEW_DataFrame
improved_df = query_job.to_dataframe()

# Print the first five rows of the DataFrame
improved_df.head()

       parent  num_posts
0  14625795.0         62
1  23390308.0         53
2  33322522.0         60
3  14661285.0        100
4   3746692.0        246

### Note on using GROUP BY

Note that because it tells SQL how to apply aggregate functions (like COUNT()), it doesn't make sense to use GROUP BY without an aggregate function. Similarly, if you have any GROUP BY clause, then all variables must be passed to either a

    GROUP BY command, or
    an aggregation function.

Consider the query b
``` Python:
query_good = """
             SELECT parent, COUNT(id)
             FROM `bigquery-public-data.hacker_news.comments`
             GROUP BY parent
            
```

Note that there are two variables: parent and id.

    parent was passed to a GROUP BY command (in GROUP BY parent), and
    id was passed to an aggregate function (in COUNT(id)).

And this query won't work, because the author column isn't passed to an aggregate function or a GROUP BY 
``` Python:

query_bad = """
            SELECT author, parent, COUNT(id)
            FROM `bigquery-public-data.hacker_news.comments`
            GROUP BY parent
         
```

If make this error, you'll get the error message SELECT list expression references column (column's name) which is neither grouped nor aggregated a  """

clause:
 """elow:

### JM, popular_comments IS a DataFrame, then
- of course can mk DF operations
- and SAVE as csv file or xls file or table in a DB (LATER)

In [5]:
popular_comments.sort_values('f0_').iloc[[0, 5, 9, -9, -5, -1]]

           parent      f0_
45013  25812272.0       11
32658  18718330.0       11
32662   7939467.0       11
11616  25989764.0      994
11290  27355392.0     1041
2301          NaN  4723217

In [6]:
popular_comments.sort_values('f0_', ascending=False).head()

           parent      f0_
2301          NaN  4723217
7800        363.0     1318
114    23170881.0     1105
1420   30934529.0     1051
11290  27355392.0     1041

### improved_df also IS a DF
- can compare both... for example..